@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200&display=swap");

html,
body {
  margin: 0px;
}

* {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: #fff;

  box-shadow: 0 0 2rem lightgray;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.nav-title {
  padding-left: 3rem;
  padding-right: 3rem;

  font-weight: bold;
  font-size: large;

  text-decoration: none;
  color: black;
}

.nav-link {
  width: 10rem;

  height: 4.1rem;
  line-height: 4.1rem;

  text-align: center;
  text-decoration: none;

  box-shadow: none;

  color: black;
  background-color: inherit;

  transition: background-color 200ms ease-in, color 200ms ease-in, box-shadow 200ms ease-in;
}

.nav-link:hover {
  color: #fff;
  background-color: rgb(41, 41, 41);
  box-shadow: 0.3rem 0.3rem 0.3rem -0.3rem #000 inset;
}

.landing-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(90deg, orange, red);
  width: 100%;
  min-height: 100vh;
  height: 100vh + 2rem;
}

.landing-title {
  padding-left: 2.6rem;
  padding-top: 12rem;

  margin: 0.1rem;

  font-weight: bold;
  font-size: 5rem;

  color: white;
}

.landing-subtitle {
  color: white;
  margin: 0;
  padding-left: 3rem;
}

.under-construction {
  padding: 13rem;
  text-align: center;
}