@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200&display=swap");

html,
body {
  margin: 0px;
}

* {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  overflow-x: hidden;
}

.paragraph {
  font-size: 3vh;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  background-color: #fff;

  box-shadow: 0 0 2rem rgba(51, 51, 51, 0.849);

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.nav-title {
  background-color: white;
  margin-right: 1rem;
  position: absolute;
  left: 0%;

  height: 4.1rem;
  line-height: 4.1rem;

  width: 5.4rem;

  padding-left: 3rem;
  padding-right: 3rem;

  font-weight: bold;
  font-size: large;

  text-decoration: none;
  color: black;
  align-self: auto;

  box-shadow: none;
  transition: box-shadow 200ms ease-in;
}

.nav-title:hover {
  box-shadow: 1rem 0 1rem -1rem #ccc;
}

.nav-link {
  width: 10rem;

  height: 4.1rem;
  line-height: 4.1rem;

  font-size: normal;

  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  box-shadow: none;

  color: black;
  background-color: inherit;

  transition: background-color 200ms ease-in, color 200ms ease-in,
    box-shadow 200ms ease-in, font-size 150ms ease-in;
}

.nav-link:hover {
  color: #fff;
  background-color: #292929;
  box-shadow: 0.3rem 0.3rem 0.3rem -0.3rem #000 inset;
  font-size: 1.2rem;
}

.landing-page {
  display: flex;
  justify-content: center;
  flex-direction: column;

  box-shadow: 0 0 1rem #ddd;

  background: rgb(41, 41, 41);
  width: 100vw;
  min-height: 100vh;
}

.landing-page-small {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 1rem 0;

  box-shadow: 0 0 3rem #ddd;

  background: rgb(41, 41, 41);
  width: 100vw;
  height: 75vh;
}

.landing-title-red {
  color: transparent;
  background: linear-gradient(90deg, orange, red);

  -webkit-background-clip: text;
  background-clip: text;

  padding-left: 2.6rem;
  padding-top: 12rem;

  margin: 0.1rem;

  font-weight: bold;
  font-size: 5rem;
}

.landing-subtitle-red {
  color: white;
  margin: 0;
  padding-left: 3rem;
  color: transparent;
  background: linear-gradient(90deg, orange, red);

  -webkit-background-clip: text;
  background-clip: text;

  animation: typing-appear 3.5s;
}

.landing-title-blue {
  color: transparent;
  background: linear-gradient(90deg, rgb(49, 193, 181), rgb(43, 118, 204));

  -webkit-background-clip: text;
  background-clip: text;

  padding-left: 2.6rem;
  padding-top: 12rem;

  margin: 0.1rem;

  font-weight: bold;
  font-size: 5rem;
}

.landing-subtitle-blue {
  color: white;
  margin: 0;
  padding-left: 3rem;
  color: transparent;
  background: linear-gradient(90deg, rgb(49, 193, 181), rgb(43, 118, 204));

  -webkit-background-clip: text;
  background-clip: text;

  animation: typing-appear 3.5s;
}

.landing-title-green {
  color: transparent;
  background: linear-gradient(90deg, rgb(139, 236, 73), rgb(2, 91, 31));

  -webkit-background-clip: text;
  background-clip: text;

  padding-left: 2.6rem;
  padding-top: 12rem;

  margin: 0.1rem;

  font-weight: bold;
  font-size: 5rem;
}

.landing-subtitle-green {
  color: white;
  margin: 0;
  padding-left: 3rem;
  color: transparent;
  background: linear-gradient(90deg, rgb(139, 236, 73), rgb(2, 91, 31));

  -webkit-background-clip: text;
  background-clip: text;

  animation: typing-appear 3.5s;
}

.full-height{
  max-height: 100vh;
  min-height: 100vh;

  align-items: center;
  justify-content: center;
}

.padding-10 {
  padding: 10vw;
}

.padding-5 {
  padding: 5vw;
}

.dark-bg {
  background: rgb(41, 41, 41);
  color: #fff;
}

.vert-center {
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.under-construction {
  padding: 13rem;
  text-align: center;
}

.footer {
  color: white;
  text-align: center;
  font-size: smaller;

  background-color: #292929;

  padding: 1vw;
}


.footer-data {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: top;

  padding-top: 1vw;
}

.footer-data div {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.footer-data div a {
  text-decoration: none;
  color: hsl(0, 0%, 95%);
}

.footer-data div h4 {
  padding: 0 0 1vw 0;
  margin: 0;
}
